body{
    line-height: 1.4;
    overflow-x: hidden;
}

h1{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    line-height: 38px;
}

.carousel{
    width: 2720px;
    height: 800px
}

h2{
    font-size: 18px;
    font-weight: 700px;
    text-align: center;
    margin-top: 25px;
    font-family: 'Open Sans'
}

.space{
    margin-bottom: 20px;
}

.middle{
    text-align: center;
}

.box-one{
    position: relative;
    height: 1000px;
    width: 370px;
    background-color: white;
    z-index: 10;
    top: -1000px;
    left: 0px;
}

.box-two{
    position: relative;
    height: 1000px;
    width: 390px;
    background-color: white;
    z-index: 10;
    bottom: 2000px;
    left: 1063px;
}

.carousel-slides{
    display: flex;
    margin-left: 382px;
}


.slide{
    width: 640px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav{
    position: relative;
}

.larrow{
    top: 300px;
    left: 402px;
}

.rarrow{
    top: 300px;
    right: 399px;
}

.larrow, .rarrow{
    position: absolute;
    z-index: 20;
    border-radius: 10px;
}

nav img{
    width: 40px;
}

a:link{
    text-decoration: none;
}